@import url("fonts.css");

:root {
  --primary-color: #453731;
  --secondary-color: #242424;
	--light-grey-bg-color: #f3f3f3;
	--light-green-bg-color: #edfff5;
	--btn-green-color: #01cc61;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*----------------
 	Header
----------------*/

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--light-grey-bg-color);
	padding: 55px 0 45px 0;
	width: 100%;
}

header img {
  margin: auto;
}

/*----------------
 	General Section
----------------*/

section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	/* padding: 125px 100px; */
}

button.btn {
	font-family: 'Avenir Heavy';
	color: white;
	background-color: var(--btn-green-color);
	border-radius: 4px;
	text-transform: uppercase;

	&:hover {
		background: linear-gradient(180deg, rgba(1,204,97,1) 0%, rgba(11,190,96,1) 49%, rgba(12,171,87,1) 100%);
  }
}

/*----------------
 	Section One
----------------*/

.section-one {
	background-color: var(--light-grey-bg-color);
	color: var(--primary-color);
}

.section-one h1 {
	font-family: 'Avenir Heavy';
	font-size: 38px;
	line-height: 110%;
	max-width: 820px;
}

.section-one h2 {
	font-family: 'Avenir Medium';
	font-size: 25px;
	margin-bottom: 30px;
	max-width: 320px;
}

.section-one > .text-container {
	margin-bottom: 20px;
}

.section-one .text-container i {
	float: left;
	animation: slide 1s ease-in-out infinite;
	margin-right: 10px;
}

@keyframes slide {
  0%, 100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(5px, 0);
  }
}

.section-one .text-container p {
	font-family: 'Avenir Medium';
	font-size: 16px;
	line-height: 130%;
	margin-left: 20px;
}

.section-one hr {
	border: 0;
	border-bottom: 1px solid var(--secondary-color);
	margin: 30px 0;
	width: 100%;
	max-width: 320px;
}

.section-one > .video-container {
	margin-top: 20px;
	margin-bottom: 40px;
}

.section-one .video-container iframe {
	height: 445px;
	width: 830px;
}

.section-one button {
	padding: 30px 35px;
	margin-top: 15px;
	margin-bottom: 25px;
}

.section-one .payment-forms {
	margin: auto;
}

.section-one .grid {
	margin-top: 35px;
	margin-bottom: 60px;
}

.section-one .grid li {
	padding: 0 10px;
}

.section-one .grid li img {
	margin: auto;
	height: 29px;
}

.section-one .grid li h4 {
	font-family: 'Avenir Heavy';
	color: var(--secondary-color);
  font-size: 14px;
	margin-top: 7px;
}

/*----------------
 	Section Five
----------------*/

.section-five {
	background-color: var(--primary-color);
	padding: 20px 0 125px 0;
}

.section-five hr {
	border: 1px solid white;
	width: 42px;
	margin-top: 45px;
	margin-bottom: 5px;
}

.section-five p {
	font-family: 'Avenir Medium';
	font-size: 20px;
	line-height: 110%;
	color: white;
	margin-top: 30px;
}

.section-five p:last-child {
	font-size: 22px;
}

.section-five p span {
	font-family: 'Avenir-HeavyOblique';
}

/*----------------
 	Section Ten
----------------*/

.section-ten {
	background-color: var(--light-green-bg-color);
	padding: 60px 0;
}

.section-ten h1 {
	font-family: 'Avenir Heavy';
	font-size: 38px;
	line-height: 110%;
}

.section-ten p {
	max-width: 500px;
	font-family: 'Avenir Medium';
	font-size: 20px;
	line-height: 110%;
	margin: 35px 0;
}

.section-ten button {
	padding: 19px 30px;
	display: inline-flex;
	align-items: center;
}

.section-ten button i {
	font-size: 20px;
}

.section-ten button span {
	margin-left: 8px;
  margin-top: 2px;
}

/*----------------
 	Accordion
----------------*/

.sec-faq {
	padding: 0 188px 150px 188px;
}

.accordion {
	font-family: 'Avenir Medium';
	color: var(--secondary-color);
	width: 100%;
}

.accordion h1 {
	margin: 80px 0;
	font-size: 38px;
	text-transform: uppercase;
}

.accordion hr {
  width: 100%;
  margin-left: 0;
  border: 0.5px solid var(--secondary-color);
}

.accordion .acc-container {
	position: relative;
	margin: 30px 0;
}

.accordion .acc-container .question {
	position: relative;
	text-align: left;
	font-size: 20px;
	margin-left: 3px;
	cursor: pointer;
}

.accordion .acc-container .question::before {
  content: '+';
	font-family: 'Avenir Light';
  position: absolute;
  top: 50%;
  right: 0px;
  font-size: 35px;
  transform: translateY(-50%);
}

.accordion .acc-container.is-active .question::before {
  content: 'x';
	font-family: 'Avenir Light';
	right: 4px;
}

.accordion .acc-container .answer {
	position: relative;
  font-size: 16px;
  text-align: left;
	line-height: 130%;
	padding: 30px 20% 0 3px;
}

/*----------------
 	Footer
----------------*/

footer {
  font-family: 'Avenir Medium';
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--secondary-color);
	background-color: var(--light-grey-bg-color);
	padding: 20px 0;
}