@import url("fonts.css");

:root {
  --primary-color: #453731;
  --secondary-color: #242424;
	--light-grey-bg-color: #f3f3f3;
	--light-green-bg-color: #edfff5;
	--btn-green-color: #01cc61;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
	height: 100%;
}

body {
  color: var(--primary-color);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

ul.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

/*----------------
 	Utilites
----------------*/

.primary-color {
	color: var(--primary-color);
}

.font-medium {
	line-height: 110%;
	font-family: 'Avenir Medium';
}

.font-heavy-oblique {
	font-family: 'Avenir-HeavyOblique';
}

.font-heavy {
	font-family: 'Avenir-Heavy';
}

.underline {
	text-decoration: underline;
}

.img-responsive {
	width: 100%;
	height: auto;
}

.italic {
	font-style: oblique;
}

.debug {
	border: 2px solid black;
}

/*----------------
 	Header
----------------*/

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--light-grey-bg-color);
	padding: 55px 0 45px 0;
	width: 100%;
}

header img {
  margin: auto;
}

/*----------------
 	General Section
----------------*/

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	text-align: center;
}

button.btn {
	border-radius: 4px;
	background-color: var(--btn-green-color);
	text-transform: uppercase;
	color: white;
	font-family: 'Avenir Heavy';

	&:hover {
		background: linear-gradient(180deg, rgba(1,204,97,1) 0%, rgba(11,190,96,1) 49%, rgba(12,171,87,1) 100%);
  }
}

/*----------------
 	Section One
----------------*/

.section-one {
	background-color: var(--light-grey-bg-color);
	color: var(--primary-color);
}

.section-one h1 {
	max-width: 820px;
	line-height: 110%;
	font-family: 'Avenir Heavy';
	font-size: 38px;
}

.section-one hr {
	margin: 30px 0;
	border: 0;
	border-bottom: 1px solid var(--secondary-color);
	width: 100%;
	max-width: 320px;
}

.section-one h2 {
	margin-bottom: 30px;
	max-width: 320px;
	font-family: 'Avenir Medium';
	font-size: 25px;
}

.section-one > .arrow-container {
	margin-bottom: 20px;
}

.section-one .arrow-container img {
	float: left;
	margin-top: 5px;
}

.section-one .arrow-container p {
	margin-left: 20px;
	line-height: 130%;
	font-family: 'Avenir Roman';
	font-size: 16px;
}

.section-one > .video-container {
	position: relative;
	margin-top: 20px;
  margin-bottom: 40px;
	width: 830px;
	height: 445px;
  overflow: hidden;
}

@media screen and (max-width: 780px) {
  .section-one > .video-container {
    width: 650px;
    height: 360px;
  }
}

.section-one .video-container iframe {
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-one button {
	margin-top: 10px;
	margin-bottom: 25px;
	padding: 23px 36px;
	font-size: 18px;
}

.section-one .payment-forms {
	margin: auto;
}

.section-one .grid {
	margin-top: 35px;
	margin-bottom: 60px;
}

.section-one .grid li {
	padding: 0 10px;
}

.section-one .grid li img {
	margin: auto;
	height: 29px;
}

.section-one .grid li h4 {
	margin-top: 7px;
	color: var(--secondary-color);
	font-family: 'Avenir Heavy';
  font-size: 13px;
}

/*----------------
 	Section Two
----------------*/

.section-two {
	color: var(--secondary-color);
	padding: 50px 0;
}

.section-two h1 {
	margin: 50px 0 48px 0;
	max-width: 760px;
	font-size: 42px;
}

.section-two h2 {
	margin-top: 50px;
	margin-bottom: 45px;
	max-width: 610px;
	font-size: 26px;
}

.section-two .first-dm {
	content: url(../img/dm01.png);
}

.section-two .second-dm {
	content: url(../img/dm02.png);
}

/*----------------
 	Section Three
----------------*/

.section-three {
	padding: 50px 190px 0 190px;
}

.section-three .text-container {
	border-left: 1px solid var(--secondary-color);
}

.section-three .text-container p {
	padding-left: 22px;
	text-align: left;
	font-size: 20px;
}

.section-three .text-container p:first-child {
	padding-top: 10px;
}

.section-three .text-container p:last-child {
	padding-bottom: 10px;
}

.section-three .img-responsive {
	margin-left: auto;
	max-width: 444px;
	max-height: 354px;
}

.section-three .grey-box {
	margin: 60px 0 30px 0;
	border: 1px solid var(--secondary-color);
	border-radius: 30px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	background-color: var(--light-grey-bg-color);
	padding: 60px 0 50px 0;
	width: 100%;
}

.section-three .grey-box > p {
	font-size: 24px;
}

.section-three .grey-box > p:first-child {
	max-width: 620px;
}

.section-three .grey-box > p:last-child {
	max-width: 500px;
}

@media screen and (max-width: 780px) {
  .section-three {
		padding: 50px 0 0 0;
  }

	.section-three .grey-box {
		border-right: none;
		border-left: none;
		border-radius: 0;
		box-shadow: none;
	}
}

.section-three .grey-box > * {
	margin: 0 auto;
}

.section-three .grey-box h1 {
	margin-top: 60px;
	margin-bottom: 45px;;
	max-width: 699px;
	font-size: 38px;
}

.section-three .grey-box .arrow-container {
	margin-bottom: 30px;
	max-width: 704px;
}

.section-three .grey-box .arrow-container img {
	float: left;
	margin-top: 8px;
}

.section-three .grey-box .arrow-container p {
	margin-left: 32px;
	text-align: left;
	font-size: 24px;
}

/*----------------
 	Section Four
----------------*/

.section-four {
	padding: 40px 0 85px 0;
}

.section-four p:nth-child(-n + 3) {
	max-width: 670px;
	font-size: 24px;
}

.section-four p:last-child {
	margin-top: 40px;
	max-width: 650px;
	font-size: 28px;
}

.section-four p.small {
	font-size: 20px;
	margin-top: 20px;
	max-width: 565px;
}

.section-four .img-responsive {
	width: 1060px;
	margin: 60px 0 55px 0;
}

/*----------------
 	Section Five
----------------*/

.section-five {
	background-color: var(--primary-color);
	padding: 20px 0 125px 0;
}

.section-five hr {
	margin-top: 45px;
	margin-bottom: 5px;
	border: 1px solid white;
	width: 42px;
}

.section-five p {
	margin-top: 30px;
	line-height: 110%;
	color: white;
	font-family: 'Avenir Medium';
	font-size: 20px;
}

.section-five p:last-child {
	font-size: 22px;
}

/*----------------
 	Section Six
----------------*/

.section-six {
	padding-bottom: 100px;
}

.section-six h1 {
	margin: 120px 0 50px 0;
	max-width: 610px;
	font-size: 32px;
}

.section-six .img-responsive {
	width: 1127px;
}

/*----------------
 	Gradient
----------------*/

.sec-gradient {
	background: linear-gradient(180deg, white 0%, #F3F3F3 100%);
	height: 20px;
}

/*----------------
 	Section History
----------------*/

.section-history {
	padding: 50px 190px 0 190px;
	text-align: left;
}

.section-history .middle-lg {
	margin: 80px 0 50px 0;
}

.section-history .img-history {
	margin-top: 10px;
}

.section-history .img-casal-legendario {
	padding-right: 15px;
}

.section-history .text-container {
	padding-left: 45px;
}

.section-history .text-container h1 {
	margin-bottom: 20px;
	font-size: 38px;
}

.section-history .text-container p {
	margin-bottom: 20px;
	line-height: 130%;
	font-size: 18px;
}

.section-history .check-container {
	margin-bottom: 25px;
}

.section-history .check-container img {
	float: left;
	margin: 4px 15px 0 0;
}

.section-history .check-container p {
	font-size: 16px;
}

.section-history > p {
	max-width: 600px;
	text-align: center;
	font-size: 18px;
}

.section-history > hr {
	border: 0.5px solid var(--secondary-color);
	width: 55px;
	margin: 30px 0 65px 0;
}

/*----------------
 	Section Ten
----------------*/

.section-ten {
	background-color: var(--light-green-bg-color);
	padding: 60px 0;
}

.section-ten h1 {
	line-height: 110%;
	font-family: 'Avenir Heavy';
	font-size: 38px;
}

.section-ten p {
	margin: 35px 0;
	max-width: 500px;
	line-height: 110%;
	font-family: 'Avenir Medium';
	font-size: 20px;
}

.section-ten button {
	display: inline-flex;
	align-items: center;
	padding: 19px 30px;
}

.section-ten button i {
	font-size: 20px;
}

.section-ten button span {
  margin-top: 2px;
	margin-left: 8px;
}

/*----------------
 	Accordion
----------------*/

.sec-faq {
	padding: 0 188px 150px 188px;
}

@media screen and (max-width: 780px) {
  .sec-faq {
		padding: 0 60px 150px 60px;
	}
}

.accordion {
	width: 100%;
	color: var(--secondary-color);
	font-family: 'Avenir Medium';
}

.accordion h1 {
	margin: 80px 0;
	text-transform: uppercase;
	font-size: 38px;
}

.accordion hr {
  margin-left: 0;
  border: 0.5px solid var(--secondary-color);
  width: 100%;
}

.accordion .acc-container {
	position: relative;
	margin: 30px 0;
}

.accordion .acc-container .question {
	position: relative;
	margin-left: 3px;
	cursor: pointer;
	text-align: left;
	font-size: 20px;
}

.accordion .acc-container .question::before {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
	font-family: 'Avenir Light';
  font-size: 35px;
  content: '+';
}

.accordion .acc-container.is-active .question::before {
	right: 4px;
	font-family: 'Avenir Light';
  content: 'x';
}

.accordion .acc-container .answer {
	position: relative;
	padding: 30px 20% 0 3px;
  text-align: left;
	line-height: 130%;
  font-size: 16px;
}

@media screen and (max-width: 780px) {
	.accordion .acc-container .question {
		max-width: 630px;
	}

	.accordion .acc-container .question::before {
		right: -17px;
	}

	.accordion .acc-container.is-active .question::before {
		right: -13px;
	}
}

/*----------------
 	Footer
----------------*/

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--light-grey-bg-color);
	padding: 20px 0;
	color: var(--secondary-color);
  font-family: 'Avenir Medium';
}